[includeIf "gitdir:~/dev/"]
  path = "~/dev/.gitconfig"

[includeIf "gitdir:~/dev/personal/"]
  path = "~/dev/personal/.gitconfig"

[includeIf "gitdir:~/dotfiles/"]
  path = "~/dev/personal/.gitconfig"

[rebase]
  updateRefs = true

[user]
  name = "John Ide"

[diff]
  colorMoved = "default"

[include]
  path = "~/.config/delta/delta.gitconfig"

[alias]
  parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"

[init]
  defaultBranch = "main"

[blame]
  ignoreRevsFile = :(optional).git-blame-ignore-revs
