[includeIf "gitdir:~/dev/"]
  path = ~/dev/.gitconfig

[includeIf "gitdir:~/dev/personal/"]
  path = ~/dev/personal/.gitconfig

[includeIf "gitdir:~/dotfiles/"]
  path = ~/dev/personal/.gitconfig

[core]
  pager = delta

[user]
	name = John Ide
